.webix_icon_button:hover span {
    color: #1c1c1c !important;
}

.webixappstart {
    opacity: 0;
}

.webixapp {
    transition: opacity 500ms;
    opacity: 1;
}

.logo {
    background: url(webix-logo.svg) 2px -7px no-repeat;
}

.webix_header.webix_dark .webix_template {
    text-align: center;
    line-height: 56px;
}

.test .webix_canvas_text {
    color: white !important;
    font-weight: bold;
}

.bold,
.bold .webix_cell {
    font-weight: bold;
}

.avatar .mainphoto {
    border-radius: 25px;
    widows: 40px;
    height: 40px;
    position: relative;
    top: -4px;
}

.status {
    position: relative;
    top: -25px;
    left: 25px;
    font-size: 10px !important;
    text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
}

/*Dashboard*/
.currencies_list .webix_list_item {
    line-height: 60px;
}

.currencies_list .icon {
    float: left;
    display: inline-block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    border-radius: 24px;
    text-align: center;
    font-size: 24px;
    margin-right: 16px;
    margin-top: 6px;
}

.currencies_list .value {
    font-size: 16px;
    font-weight: 500;
}

.currencies_list .delta {
    font-size: 16px;
    font-weight: 500;
    float: right;
    margin-right: 8px;
}

.currencies_list .delta.red, .red {
    color: #ca011b;
}

.custom .webix_header > div {
    background-color: #313e45;
    color: white;
    text-align: center;
}

.custom-gradient .webix_header > div {
    background: linear-gradient(to right, #763c75, #fe6a00);
    color: white;
    text-align: center;
}

.webix_view.panel_drag_view.custom.webix_layout_line, .webix_view.panel_drag_view.custom-gradient.webix_layout_line {
    border-radius: 30px;
}

div.gradient-header .webix_ss_header {
    background: linear-gradient(to right, #763c75, #fe6a00) !important;
}

div.gradient-header .webix_hcolumn, .webix_hs_center{
    background: transparent !important;
    color: white !important;
}

.icon-area {
    font-size: 20px; padding: 5px; width: 50%; color: #313e45
}

.currencies_list .delta.green {
    color: #55CD97;
}

.reviews .img {
    float: left;
    margin-top: 18px;
    margin-right: 16px;
    height: 100%;
}

.reviews .img img {
    background-color: red;
    border-radius: 25px;
    height: 48px;
    width: 48px;
}

.reviews .text {
    margin-top: 10px;
}

.reviews .text .name {
    font-weight: 500;
    display: block;
}

.reviews .text .webix_icon.mdi-bookmark-check,
.reviews .text .webix_icon.mdi-bookmark-plus {
    float: right;
    margin-top: 4px;
    margin-right: 4px;
}

.reviews .text .webix_icon.mdi-bookmark-check {
    color: #1CA1C1;
}

.reviews .text .webix_icon.mdi-bookmark-plus {
    color: #94A1B3;
}

.reviews .text .stars {
    width: 90px;
    margin-left: -4px;
    position: relative;
    top: -4px;
}

.reviews .text .star {
    margin-right: -3px !important;
    font-size: 16px !important;
}

.reviews .text .stars .star.gold {
    color: #FDBF4C;
}

.reviews .text .stars .star.grey {
    color: #94A1B3;
}

.reviews .text .date {
    color: #94A1B3;
    position: relative;
    top: -4px;
    margin-left: 8px;
}

.reviews .text .message {
    display: block;
    max-height: 48px;
    overflow: hidden;
    line-height: 22px;
    position: relative;
    top: -6px;
}

.reviews .text .tag {
    padding: 4px 10px;
    border-radius: 100px;
    color: #ffffff;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
}

.reviews .text .tag.New {
    background: #1CA1C1;
}

.reviews .text .tag.Pending {
    background: #55CD97;
}

.webix_tooltip.review_tooltip {
    width: 300px;
}

.stats .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: block;
    padding-top: 8px;
}

.stats .webix_list_item {
    padding: 2px 20px;
}

.progress_bar_element {
    background-color: #F4F5F9;
    border-radius: 4px;
    width: 100%;
    height: 6px;
    margin-top: 5px;
    margin-bottom: 9px;
}

.progress_result {
    height: 100%;
    border-radius: 4px;
}

.progress_result.all {
    background: #1CA1C1;
}

.progress_result.first {
    background: #55CD97;
}

.progress_result.second {
    background: #FDBF4C;
}

.check_tree .webix_tree_branch_1 {
    padding: 4px;
}

.check_tree .webix_tree_checkbox {
    margin: 0 10px;
}

.check_tree .webix_scroll_cont > .webix_tree_leaves {
    padding: 16px 8px;
}

.check_tree .webix_tree_item.webix_selected {
    background: #ffffff !important;
}

.check_tree .webix_tree_item span.checked,
.check_tree .webix_tree_item.webix_selected span.checked {
    text-decoration: line-through;
}

.check_tree .webix_tree_item span,
.check_tree .webix_tree_item.webix_selected span {
    margin-left: 6px;
}

/* headers (templates) */
.webix_view.chart_header {
    text-align: center;
}

/* transactions grid */
.method {
    margin-bottom: -8px;
}

/* features grid */
.header_center, .column_center {
    text-align: center;
}

.feature.webix_icon.wxi-plus-circle {
    color: #55CD97;
}

.feature.webix_icon.wxi-minus-circle {
    color: #DADEE0;
}

/* widgets grid */
.yellow {
    color: #FDBF4C;
}

.green {
    color: #55CD97;
}

.blue {
    color: #1CA1C1;
}

.custom_dark {
    background: #565B67;
    font-size: 18px;
    color: #ffffff;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
}

.custom_dark .webix_template {
    line-height: 55px;
}

/* forms */
.radio_demo .webix_radio_option {
    margin-bottom: 20px;
}

.webix_view.form_photo > div {
    padding: 0;
}

/*pivot*/
.webix_pivot_configure_toolbar .webix_el_label .webix_el_box,
.webix_pivot_configure_toolbar .webix_el_label {
    margin-right: 5px;
    overflow: visible;
}

.right {
    text-align: right;
}

.webix_gage_value {
    font-size: 1.2em;
}

.webix_gage_info {
    font-size: 0.5em;
}

.filter_tags .filter_tag {
    background-color: #EBEDF0;
    margin: 4px;
    padding: 5px 10px;
    border-radius: 100px;
    position: relative;
    top: 7px;
    white-space: nowrap;
}

.webix_el_text.filter_search .webix_el_box input {
    border: none;
    border-left: 1px solid #313131;
    border-radius: 0;
}

.unit_groups .unit_group {
    text-align: center;
}

.unit_groups .webix_dataview_item {
    padding: 32px 12px;
    border-right-color: #ffffff;
    cursor: default;
}

.unit_name,
.unit_value {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.unit_name {
    margin-bottom: 7px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.unit_block, .unit_taken_chart {
    width: 100%;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 2px;
    cursor: pointer;
}

.unit_block:hover, .unit_taken_chart:hover {
    border: 1px solid #CCD7E6;
}

.unit_block:focus, .unit_taken_chart:focus {
    background-color: #F4F5F9;
    border: 1px solid #F4F5F9;
}

.unit_block:active, .unit_taken_chart:active {
    background-color: #CCD7E6;
}

.unit_taken_chart {
    height: 100px;
    position: relative;
}

.unit_chart_legend {
    margin: 28px 0;
}

.units_chart {
    position: absolute;
    left: 10px;
    top: 10px;
}

.unit_category_title {
    color: #94A1B3;
    display: block;
}

.markers-box {
    padding: 15px 20px 0 20px;
}

.unit_property_name {
    font-weight: 500;
    color: #313131;
}

.feature_line {
    padding: 12px 20px 0 20px;
}

.modify_popup_header_label {
    white-space: nowrap;
    overflow-x: hidden;
}

.modify_popup_header_label .webix_el_box {
    text-overflow: ellipsis;
}

.component-box {
    margin: 8px 0;
    padding-top: 10px;
    background: #F4F5F9;
    cursor: pointer;
}

.part_name {
    padding-bottom: 7px;
    margin-left: 20px;
}

.part_name_text {
    max-width: 325px;
    white-space: nowrap;
    overflow-x: hidden;
    display: inline-block;
    text-overflow: ellipsis;
}

.float-right {
    float: right;
}

.part_name .float-right {
    color: #94A1B3;
    margin-right: 20px;
}

.part_name .float-right:hover {
    color: #1CA1C1;
}

.uppercase-input input {
    text-transform: uppercase;
}

.upper {
    text-transform: uppercase;
}

.main_user_avatar_template .webix_template {
    padding: 0;
}

.main_user_avatar_template .main_user_avatar {
    background-color: #1CA1C1;
    border-radius: 100px;
    width: 43px;
    height: 43px;
    color: #ffffff;
    text-align: center;
    line-height: 44px;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
}

.main_header {
    background-color: #ffffff;
}

.main_header .webix_img_btn img.webix_image {
    max-height: unset !important;
    max-width: unset !important;
}

.main_header .webix_img_btn:hover {
    background-color: transparent;
}

.main_header .webix_img_btn img.webix_image {
    max-height: unset !important;
    max-width: unset !important;
}


/*.main_user_name_label .webix_el_box{
    font-family: Arial !important;
    color: black !important;
}

body {
    font-family: Arial !important;
}

.webix_view,
.webix_secondary .webix_button,
.webix_all_tabs .webix_item_tab {
    font-family: Arial;
    font-size: 12px;
}
*/

.header_logo button {
    background: transparent !important;
    display: flex;
    align-items: center;
}

.webix_sidebar.webix_dark .webix_tree_item.webix_selected, .webix_sidebar.webix_dark .webix_tree_item.webix_sidebar_selected {
    color: white !important;
}

.webix_sidebar .webix_tree_item.webix_selected .webix_sidebar_icon, .webix_sidebar .webix_tree_item.webix_sidebar_selected .webix_sidebar_icon, .webix_sidebar .webix_tree_item.webix_selected .webix_sidebar_dir_icon, .webix_sidebar .webix_tree_item.webix_sidebar_selected .webix_sidebar_dir_icon {
    color: white !important;
}

.webix_sidebar .webix_tree_item.webix_selected span {
    color: white !important;
}

.main_user_name_label .webix_el_box {
    font-family: "Open Sans", sans-serif !important;
}

body {
    font-family: "Open Sans", sans-serif !important;
}

.webix_view,
.webix_secondary .webix_button {
    font-family: "Open Sans", sans-serif !important;
}

.webix_cell, .webix_hcell {
    font-family: "Open Sans", sans-serif !important;
    font-weight: 400;
}

.webix_toolbar .webix_el_label .webix_el_box {
    font-family: "Open Sans", sans-serif !important;
    font-weight: 800;
}

.webix_header {
    font-weight: 800;
    height: 44px !important;
}

.webix_header > div {
    line-height: 44px !important;
    background-color: white;
    color: black;
}

.webix_hcell {
    font-weight: 600;
}

.webix_inp_label, .webix_inp_top_label, legend.webix_forminput_label, .webix_el_label .webix_el_box {
    font-family: "Open Sans", sans-serif !important;
}

.webix_view.webix_toolbar.webix_layout_toolbar:not(.main_header) {
    background-color: #ffffff;
}

.webix_view.webix_toolbar.webix_layout_toolbar:not(.main_header) .webix_el_box {
    color: white !important;
}

.webix_view.webix_toolbar.webix_layout_toolbar:not(.main_header) .webix_icon {
    color: black;
}

/*.webix_el_combo .webix_el_box, .webix_el_richselect .webix_el_box, .webix_el_datepicker .webix_el_box, .webix_el_colorpicker .webix_el_box, .webix_el_search .webix_el_box, .webix_el_text .webix_el_box, .webix_el_texthighlight .webix_el_box{
    height: 60px !important;
}*/



.input-login input{
    border-radius: 35px;
}

.icon-login {
    font-size: 40px;
}

.webix_el_combo input, .webix_el_richselect input, .webix_el_datepicker input, .webix_el_colorpicker input, .webix_el_search input, .webix_el_combo .webix_inp_static, .webix_el_richselect .webix_inp_static, .webix_el_datepicker .webix_inp_static, .webix_el_colorpicker .webix_inp_static, .webix_el_search .webix_inp_static {
    font-size: 13px;
    font-family: "Open Sans", sans-serif !important;
}

.webix_view > .webix_disabled {
    display: none;
}

div.webix_inp_static, .webix_el_textarea textarea {
    font-size: 13px;
    font-family: "Open Sans", sans-serif !important;
}

.webix_view > .webix_disabled {
    display: none;
}

.webix_disabled_view .webix_disabled_top_label {
    color: inherit;
}

.webix_view.webix_control .webix_disabled_box input, .webix_view.webix_control .webix_disabled_box select, .webix_view.webix_control .webix_disabled_box textarea, .webix_view.webix_control .webix_disabled_box .webix_inp_static, .webix_view.webix_control .webix_disabled_box .webix_slider_right, .webix_view.webix_control .webix_disabled_box .webix_slider_handle {
    color: inherit;
    background: inherit;
    border-color: #edeff0;
}

.table-sm .webix_cell {
    font-size: 10px;
}

.text-danger .webix_property_label_line {
    color: red;
}

.webix_table_checkbox.is_closed {
    color: green;
}

.webix_table_checkbox.is_not_closed {
    color: red;
}

.webix_view button, .webix_view input[type=button] {
    margin: 0;
}

.wbackground {
    background: white;
    padding: 10px;
    margin-top: 0 !important;
    width: initial !important;
}

.wbackground .webix_el_button {
    width: initial !important;
}

.auto-height {
    height: inherit !important;
}

.question .webix_template {
    padding: 0;
}

.error_list {
    margin-bottom: 20px;
}

.error_list .webix_property_label {
    width: 150px !important;
}

.error_list .webix_property_value {
    width: auto !important;
}

.navlogo img {
    height: 40px;

}

.navlogo .webix_button {
    background: transparent;
}

.webix_inp_top_label {
    height: 19px;
}

.margin-0 {
    margin: 0 !important;
}

.webix_primary .webix_button,
.webix_primary .webix_button:hover,
.webix_primary .webix_button:active,
.webix_primary .webix_button:focus {
    background: #012169;
    color: #FFFFFF !important;
}

.webix_secondary .webix_button,
.webix_secondary .webix_button .webix_icon,
.webix_secondary .webix_button .webix_img_btn_text,
.webix_secondary .webix_button .webix_icon_btn,
.webix_view .webix_pager_item {
    color: #4a4e58;
}

.webix_view .webix_pager_item_selected,
.webix_view .webix_pager_item_selected:active,
.webix_view .webix_pager_item_selected:hover,
.webix_view .webix_pager_item_selected:focus {
    background-color: #4a4e58;
}

.crumbs {
    background-color: transparent;
    border: 0;
    color: black;
    font-family: "Open Sans", sans-serif !important;
    font-weight: 800;
    font-size: 16px;
    margin-left: 0 !important;
    margin-top: 5px !important;
    overflow-x: auto;
}

.crumbs a, .crumbs a:visited {
    color: white !important;
}

.crumbs .webix_list_item {
    border-right: none;
}

.crumbs .webix_list_item:not(:first-child) {
    margin-left: -10px;
}

.crumbs a, .crumbs a:visited {
    text-decoration: none;
    color: #4444dd;
}

.crumbs .webix_list_item:not(:first-child):before {
    content: ">";
    padding-right: 10px;
}

.webix_accordionitem_label {
    background-color: white;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size: 16px;
}

.webix_accordionitem .webix_accordionitem_header .webix_accordionitem_button,
.webix_accordionitem.collapsed .webix_accordionitem_header .webix_accordionitem_button {
    color: black;
}

.webix_multicombo_input {
    margin-left: 1px !important;
    max-width: 353px !important;
    border: 0 !important;
    margin-left: 10px !important;
}

.webix_inp_top_label {
    height: 22px !important;
}

.curriculum svg {
    height: 100%;
    width: 100%;
}

.teacher_dashboard.webix_abslayout {
    background-color: #EBEDF0;
}

.functional_areas_list .webix_list_item,
.functional_areas_list .webix_list_item.webix_selected {
    padding: 15px 20px;
}

.new {
    vertical-align: super;
    font-size: 9pt;
    color: #ca011b;
    font-weight: 800;
    border:2px solid #ca011b;
    float: right;
    border-radius: 50px;
    width: 13px;
    display: inline-block;
    padding-left: 5px;
    height: 18px;
    line-height: 17px;
}

.progress {
    min-width: 35%;
    text-align: center;
    float: right;
    border-radius: 3px;
    color: #fff;
}

.good {
    background-color: #55CD97;
}

.okay {
    background-color: #FDBF4C;
}

.bad {
    background-color: #FF5C4C;
}

.right {
    text-align: right;
}

.webix_bullet_graph_svg {
    margin-left: 5px;
    padding-top: 8px;
}

.webix_bullet_scale {
    font-size: 8px;
}

.progress_table div.webix_cell, .progress_table .webix_hcell {
    padding-left: 15px;
    padding-right: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.assignment_complete, .arrow_up {
    color: #55CD97;
}

.assignment_incomplete, .arrow_down {
    color: #FF5C4C;
}

.arrows {
    font-size: 11px;
    vertical-align: super;
}

.question .webix_icon {
    cursor: pointer;
    margin-right: 25%;
    margin-top: 50%;
}

.webix_dark .question .webix_icon {
    color: #FFFFFF;
    opacity: 0.7;
}

.login_bg {
    background-image: url(/data/images/bg.png);
    transition: background .2s ease;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header_logo button {
    background: transparent !important;
    display: flex;
    align-items: center;
}

.webix_chart .webix_canvas_text.webix_axis_item_x{
    font-size: 10px;
}

.progress_result {
    height: 100%;
    float: left;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    background: #48bbe8;
}
.progress_bar_element {
    background-color: #f5f5f5;
    border-radius: 4px;
    width: 100%;
    height: 6px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    margin-top: 16px;
    float: left;
    overflow: hidden;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-color: #ccc;
}

td, th {
    font-size: 13px;
    line-height: 16px;
    border-bottom: 1px solid #eee;
    vertical-align: top;
    padding: 8px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

th {
    font-weight: 600;
    text-align: left;
}

thead th,
tfoot td {
    color: #666;
    padding: 5px 10px;
    font-size: 11px;
    background: #fff;
    border: none;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

tfoot td {
    border-bottom: none;
    border-top: 1px solid #eee;
}

thead th.required {
    color: #000;
}

tr.alt {
    background: #f6f6f6;
}

.row1 {
    background: #fff;
}

.row2 {
    background: #f9f9f9;
}